#App {
    font-family: Arial, Helvetica, sans-serif;
}

#title {
    text-align: center;
    font-size: 36px;
    margin: 1%;
}

.form {
    text-align: center;
    font-size: 16px;
    margin: 1%;
}

.form input {
    margin-right: 10px;
}

.form button {
    margin-right: 10px;
}

#tableOfUsers {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    display:table;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

#tableCaption {
    display: table-caption;
    margin-bottom: 1%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

#tableHeader {
    display: table-header-group;
    background-color: cadetblue;
    font-weight: bold;
    font-size: 18px;
}

#tableBody {
    display: table-row-group;
}

.tableHeaderCell {
    display: table-cell;
    padding: 10px;
    text-align: justify;
    border-bottom: 1px solid black;
}

.tableRow {
    display: table-row;
    background-color: aliceblue;
}

.tableCell {
    display: table-cell;
    padding: 10px;
    border-bottom: 1px solid black;
}